* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* watermelon:
Primary: #E51837
less bright: #EAB3BB
lighter: #FBE2E6
lightest: #FBEFF1

border-radius: 4px;
border: solid 1px #7898A5;
background-color: #C5D2D8; (still darker than background) */
/*=================================*/
/* 
/*===================================*/
@font-face {
  font-family: Josefin-Slab-Regular;
  src: url("../fonts/josefinslab-regular-webfont.eot");
  src: url("../fonts/josefinslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-regular-webfont.woff") format("woff"), url("../fonts/josefinslab-regular-webfont.ttf") format("truetype"), url("../fonts/josefinslab-regular-webfont.svg#Josefin-Slab-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Regular;
    src: url("../fonts/josefinslab-regular-webfont.svg#Josefin-Slab-Regular") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Light;
  src: url("../fonts/josefinslab-light-webfont.eot");
  src: url("../fonts/josefinslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-light-webfont.woff") format("woff"), url("../fonts/josefinslab-light-webfont.ttf") format("truetype"), url("../fonts/josefinslab-light-webfont.svg#Josefin-Slab-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Light;
    src: url("../fonts/josefinslab-light-webfont.svg#Josefin-Slab-Light") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Light-Italic;
  src: url("../fonts/josefinslab-lightitalic-webfont.eot");
  src: url("../fonts/josefinslab-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-lightitalic-webfont.woff") format("woff"), url("../fonts/josefinslab-lightitalic-webfont.ttf") format("truetype"), url("../fonts/josefinslab-lightitalic-webfont.svg#Josefin-Slab-Light-Italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Light-Italic;
    src: url("../fonts/josefinslab-lightitalic-webfont.svg#Josefin-Slab-Light-Italic") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Bold-Italic;
  src: url("../fonts/josefinslab-bolditalic-webfont.eot");
  src: url("../fonts/josefinslab-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-bolditalic-webfont.woff") format("woff"), url("../fonts/josefinslab-bolditalic-webfont.ttf") format("truetype"), url("../fonts/josefinslab-bolditalic-webfont.svg#Josefin-Slab-Bold-Italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Bold-Italic;
    src: url("../fonts/josefinslab-bolditalic-webfont.svg#Josefin-Slab-Bold-Italic") format("svg"); } }
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/lato-reg-webfont.eot");
  src: url("../fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-reg-webfont.woff") format("woff"), url("../fonts/lato-reg-webfont.ttf") format("truetype"), url("../fonts/lato-reg-webfont.svg#Lato-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Lato-Regular;
    src: url("../fonts/lato-reg-webfont.svg#Lato-Regular") format("svg"); } }
@font-face {
  font-family: Lato-Black;
  src: url("../fonts/lato-bla-webfont.eot");
  src: url("../fonts/lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bla-webfont.woff") format("woff"), url("../fonts/lato-bla-webfont.ttf") format("truetype"), url("../fonts/lato-bla-webfont.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Lato-Black;
    src: url("../fonts/lato-bla-webfont.svg#Lato-Black") format("svg"); } }
html {
  font-size: 62.5%; }

body {
  margin: 0 auto;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  color: black;
  background-color: #d8e1e5;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato-Regular', arial, sans-serif;
  font-weight: 400;
  font-style: normal; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

a {
  text-decoration: none; }

h1 {
  font-size: 36px;
  font-size: 3.6em; }

h2 {
  font-size: 24px;
  font-size: 2.4em; }

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  font-size: 1.8em; }

section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  section:last-child {
    margin-right: 0; }

.logo {
  vertical-align: 0.2em;
  margin-top: -3em;
  font-size: 20px;
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 0.5em;
  text-shadow: 1px 1px 0 #FFF;
  color: #000; }

.icon-menu, .icon-search {
  font-size: 30px;
  font-size: 3.0rem;
  color: black; }

.icon-search {
  float: right; }

.todayHighlights {
  background-color: #444444;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.1214em;
  margin: 0 auto; }

 /*
form{
	padding-left: 1em;
	vertical-align: bottom;

	.inputWrapper{
		float:left;
		margin-top: 0.3em;

	}

	input[type=search]{
	float: left;
	color: red;  
	
	cursor: pointer;
	display: block; 
	width: 50%;	
    font-size: 2.4em;
  
    margin-right: 1em;
	}

	input[type="radio"]{	
	}
}*/
[role="hourLoc"],
[role="todayEvents"],
[role="services"] {
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  transition: 0.2s all ease;
  width: 95%;
  padding: 5%; }

.js [role="hourLoc"] {
  background-color: #eeeeee;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
  margin-left: -100%;
  float: left; }

.js [role="todayEvents"] {
  margin-left: 0;
  float: left;
  background-color: #eeeeee;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative; }

.js [role="services"] {
  background-color: #eeeeee;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
  margin-right: -200%;
  float: left; }

.off-canvas-navigation {
  width: 100%;
  overflow: hidden;
  display: block;
  color: #FFF;
  margin: 0 auto; }

.off-canvas-navigation ul li {
  margin-left: -3em;
  width: 20%;
  display: block;
  float: left; }

.off-canvas-navigation ul li.services {
  float: right; }

.hours-locations-button, .service-button {
  padding: 0.5em 20%;
  font-size: 10px;
  font-size: 1em;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  border-top-right-radius: 1em;
  box-shadow: inset 0 20px 20px rgba(255, 255, 255, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal; }

.service-button {
  padding: 0.5em 1em;
  text-align: right;
  border-top-left-radius: 1em;
  border-top-right-radius: 0; }

.events-button {
  margin-left: 5em;
  padding: 0.5em 20%;
  font-size: 10px;
  font-size: 1em;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  box-shadow: inset 0 20px 20px rgba(255, 255, 255, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  width: 10rem; }

::selection {
  background: #FFCCCC;
  color: #000;
  text-shadow: none; }

.box {
  border: 1px solid #ced1d3;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px; }
  .box h3 {
    background-color: rgba(229, 24, 55, 0.9);
    color: white;
    padding: 0.3em 0px;
    text-align: center;
    margin: 0; }
  .box h4 {
    background-color: #eab3bb;
    color: #000;
    padding: 0.3em 0px;
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .box .primaryDetail {
    color: #e51837;
    font-family: 'Lato-regular', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6rem; }
  .box .secondaryDetail {
    color: #000; }
  .box p {
    color: #333;
    padding-left: 10px;
    margin: 0.5em auto; }

.active-left [role="hourLoc"] {
  margin-left: 0;
  width: 80%; }

.active-left [role="todayEvents"] {
  margin-right: -100%; }

.active-left [role="services"] {
  margin-right: -100%;
  float: right; }

.active-right [role="hourLoc"] {
  margin-left: -100%; }

.active-right [role="todayEvents"] {
  margin-left: -90%; }

.active-right [role="services"] {
  margin-left: 0;
  width: 80%; }

/* Helper Classes =============================================================================== */
.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }
