* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*=================================*/
/* 
/*===================================*/
@font-face {
  font-family: Josefin-Slab-Regular;
  src: url("../fonts/josefinslab-regular-webfont.eot");
  src: url("../fonts/josefinslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-regular-webfont.woff") format("woff"), url("../fonts/josefinslab-regular-webfont.ttf") format("truetype"), url("../fonts/josefinslab-regular-webfont.svg#Josefin-Slab-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Regular;
    src: url("../fonts/josefinslab-regular-webfont.svg#Josefin-Slab-Regular") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Light;
  src: url("../fonts/josefinslab-light-webfont.eot");
  src: url("../fonts/josefinslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-light-webfont.woff") format("woff"), url("../fonts/josefinslab-light-webfont.ttf") format("truetype"), url("../fonts/josefinslab-light-webfont.svg#Josefin-Slab-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Light;
    src: url("../fonts/josefinslab-light-webfont.svg#Josefin-Slab-Light") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Light-Italic;
  src: url("../fonts/josefinslab-lightitalic-webfont.eot");
  src: url("../fonts/josefinslab-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-lightitalic-webfont.woff") format("woff"), url("../fonts/josefinslab-lightitalic-webfont.ttf") format("truetype"), url("../fonts/josefinslab-lightitalic-webfont.svg#Josefin-Slab-Light-Italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Light-Italic;
    src: url("../fonts/josefinslab-lightitalic-webfont.svg#Josefin-Slab-Light-Italic") format("svg"); } }
@font-face {
  font-family: Josefin-Slab-Bold-Italic;
  src: url("../fonts/josefinslab-bolditalic-webfont.eot");
  src: url("../fonts/josefinslab-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinslab-bolditalic-webfont.woff") format("woff"), url("../fonts/josefinslab-bolditalic-webfont.ttf") format("truetype"), url("../fonts/josefinslab-bolditalic-webfont.svg#Josefin-Slab-Bold-Italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Josefin-Slab-Bold-Italic;
    src: url("../fonts/josefinslab-bolditalic-webfont.svg#Josefin-Slab-Bold-Italic") format("svg"); } }
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/lato-reg-webfont.eot");
  src: url("../fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-reg-webfont.woff") format("woff"), url("../fonts/lato-reg-webfont.ttf") format("truetype"), url("../fonts/lato-reg-webfont.svg#Lato-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Lato-Regular;
    src: url("../fonts/lato-reg-webfont.svg#Lato-Regular") format("svg"); } }
@font-face {
  font-family: Lato-Black;
  src: url("../fonts/lato-bla-webfont.eot");
  src: url("../fonts/lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bla-webfont.woff") format("woff"), url("../fonts/lato-bla-webfont.ttf") format("truetype"), url("../fonts/lato-bla-webfont.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Lato-Black;
    src: url("../fonts/lato-bla-webfont.svg#Lato-Black") format("svg"); } }
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  color: #535454;
  background-color: #d8e1e5;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  section:last-child {
    margin-right: 0; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Josefin-Slab-Regular', serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 0px white; }

/* Helper Classes =============================================================================== */
.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }
